<div id="<%= dom_id recipe %>">
  <p>
    <strong>Image:</strong>
    <%= recipe.image %>
  </p>

  <p>
    <strong>Recipe titles:</strong>
    <%= recipe.recipe_titles %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= recipe.date %>
  </p>

</div>
