<footer class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    <div class="text-sm text-gray-500">
      &copy; 2024 
      <a href="https://hummusonrails.com" target="_blank" class="text-gray-500 hover:text-gray-700">Ben Greenberg</a>
    </div>
  </div>
</footer>
